

/*
PROJECTS
 */

.proj__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  margin: 5% 15%;
  list-style: none;
  text-align: center;
}

.proj__item {
  vertical-align: top;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proj__links {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content;
  height: fit-content;
}

.proj__links:hover {
  //background-image: radial-gradient(closest-side, antiquewhite, black);
}

.icons {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 22%;
}

.icons:hover {
background-image: radial-gradient(closest-side, antiquewhite, black);
}


/*IPHONE IPAD*/
@media only screen and (max-device-width: 900px) {

  body {
    margin: 0;
  }

  .proj__list {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6%;
    margin: 5%;
    list-style: none;
    text-align: center;
  }

  .proj__item {
    width: 9vh;
  }

  .proj__links {
    font-size: small;
    padding: 0;
  }

  .icons {
    width: 9vh;
    height: 9vh;
    border-radius: 22%;
  }
}


div {
  box-sizing: border-box;
}

.text {
  margin: 10px;
}

.board {
  width: 84vmin;
  margin: auto;
  outline: 1px solid #ffffff;
}

.board .field {
  border: 1px solid #ffffff;
  width: 12vmin;
  height: 12vmin;
  float: left;
  display: block;
}

.board .field .piece {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  margin: 1vmin;
}

.board .field .blue {
  background-color: #08174b;
}

.board .field .red {
  background-color: #5d1620;
}

.glow-red-text {
  animation: glow-red-text 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-red-text {
  from {
    text-shadow: 0 0 10px #FFF, 0 0 20px #d5a8a8, 0 0 30px #652932, 0 0 40px #5D1620FF, 0 0 50px #5D1620FF, 0 0 60px #5D1620FF, 0 0 70px #5D1620FF;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #d4af37, 0 0 40px #d4af37, 0 0 50px #d4af37, 0 0 60px #d4af37, 0 0 70px #d4af37, 0 0 80px #d4af37;
  }
}

.board .field .glow-red {
  animation: glow-red 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-red {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #5D1620FF, 0 0 40px #5D1620FF, 0 0 50px #5D1620FF, 0 0 60px #5D1620FF, 0 0 70px #5D1620FF;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #d4af37, 0 0 40px #d4af37, 0 0 50px #d4af37, 0 0 60px #d4af37, 0 0 70px #d4af37, 0 0 80px #d4af37;
  }
}

.glow-blue-text {
  animation: glow-blue-text 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-blue-text {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #08174BFF, 0 0 40px #08174BFF, 0 0 50px #08174BFF, 0 0 60px #08174BFF, 0 0 70px #08174BFF;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #d4af37, 0 0 40px #d4af37, 0 0 50px #d4af37, 0 0 60px #d4af37, 0 0 70px #d4af37, 0 0 80px #d4af37;
  }
}

.board .field .glow-blue {
  animation: glow-blue 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-blue {
  from {
    box-shadow: 0 0 10px #FFF, 0 0 20px #fff, 0 0 30px #08174BFF, 0 0 40px #08174BFF, 0 0 50px #08174BFF, 0 0 60px #08174BFF, 0 0 70px #08174BFF;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #d4af37, 0 0 40px #d4af37, 0 0 50px #d4af37, 0 0 60px #d4af37, 0 0 70px #d4af37, 0 0 80px #d4af37;
  }
}