@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, fantasy;
  text-align: center;
  color: antiquewhite;
}

body {
  background: black;
}

h1 {
  color: antiquewhite;
}

.button {
  background-color: antiquewhite;
  border-radius: 5px;
  margin: auto;
  color: black;
}

.navbar {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(52, 50, 50, 0.75) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: antiquewhite;
  background-image: linear-gradient(to top, #67f3bd 0%, #faebd7 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
  font-family: "Baskerville", serif;
}


.fa_gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  height: 100%;
}

.navbar__links:hover {
  color: #67f3bd;
  transition: all 100ms ease;
}

.rainbow__text {
  -webkit-transition: color 1s;
  transition: color 1s;
  margin: auto;
  width: fit-content;
}

.rainbow__text:hover {
  background-image: linear-gradient(to left, violet, #5c0c96, #6666b7, #397eaf,
  #1ac9b8, rgba(101, 255, 228, 0.58), #a6f367);
  -webkit-background-clip: text;
  color: transparent;
}

/*IPAD*/
@media only screen and (max-device-width: 900px) {

  * {
    text-align: center;
    color: antiquewhite;
  }

  .icons {
    height: 2.5rem;
    margin: 1rem;
  }

  .navbar {
    height: 150px;
  }

  .navbar__container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #navbar__logo {
    font-size: 80px;
    font-family: Baskerville, serif;
  }

  .navbar__menu {
    height: 150px;
  }

  .navbar__item {
    margin: 5%;
    height: 100px;
    border-radius: 15%;
    border: 1px solid antiquewhite;
  }

  .navbar__links {
    font-size: 40px;
  }
}

/*IPHONE*/
@media only screen and (max-device-width: 500px) {
  .navbar {
    background-image: radial-gradient(closest-side, rgb(52, 52, 52) 0%, rgb(0, 0, 0) 100%);
    height: 100px;
  }

  .navbar__container {
    justify-content: space-evenly;
    padding: 0 1px;
  }

  #navbar__logo {
    font-size: 70px;
  }

  .navbar__menu {
    height: 80px;
  }

  .navbar__item {
    margin: 1%;
    height: 50px;
    border-radius: 15%;
    border: 1px solid antiquewhite;
  }

  .navbar__links {
    font-size: 20px;
    margin: 0 2px;
  }
}

.picture__container {
  position: relative;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.picture__grid {
  margin: 10% 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  list-style-type: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: radial-gradient(closest-side, black, rgba(58, 141, 109, 0.58), black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture__container:hover .overlay {
  opacity: 1;
}

.overlay__text {
  color: antiquewhite;
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
}

/*IPAD*/
@media only screen and (max-device-width: 900px) {

  .picture__grid {
    margin: 5% 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
  }

  .overlay {
    opacity: 1;
    background-image: radial-gradient(closest-side, black, rgba(58, 141, 109, 0.3), rgba(0, 0, 0, 0));
  }

  .overlay__text {
    font-size: xxx-large;
    font-weight: bolder;
  }
}

/*IPHONE*/
@media only screen and (max-device-width: 500px) {

  .picture__grid {
    margin: 3% 15%;
    grid-template-columns: repeat(1, 1fr);
  }

}

