@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, sans-serif;
  /*text-align: center;*/
  /*color: antiquewhite;*/
  transition: background-color 0.8s;
}

[data-theme="light"] {
  --color-bg: antiquewhite;
  --color-bgl: #ffffff;
  --color-fg: #000000;
  --color-s: #67f3bd;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-bgl: #1a1a1a;
  --color-fg: antiquewhite;
  --color-s: #67f3bd;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

#theme-toggle-case {
  width: 100px;
  height: 50px;
  background-color: var(--color-fg);
  border-radius: 35px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  margin: 0;
  overflow: hidden;
}

#theme-toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 60px;
  background-color: var(--color-bg);
  border-radius: 15px;
  transition: margin-left 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#theme-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('icons/sun-icon.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;

}

[data-theme="dark"] {
  #theme-toggle {
    margin-left: 10px;
  }

  #theme-icon {
    margin-left: 60px;
    background-image: url('icons/moon-icon.svg');
  }
}

[data-theme="light"] {
  #theme-toggle {
    margin-left: 60px;
  }

  #theme-icon {
    margin-left: 10px;
    background-image: url('icons/sun-icon.svg');
  }
}

@media only screen and (max-device-width: 500px) {
  #theme-toggle-case {
    width: 50px;
    height: 50px;
  }

  #theme-toggle {
    display: none;
  }

  #theme-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('icons/sun-icon.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

  }

  [data-theme="dark"] {
    #theme-icon {
      margin-left: 10px;
      background-image: url('icons/moon-icon.svg');
    }
  }

  [data-theme="light"] {
    #theme-icon {
      margin-left: 10px;
      background-image: url('icons/sun-icon.svg');
    }
  }
}

.navbar {
  background: var(--color-bg);
  /*background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%, rgb(52, 50, 50) 100%);*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 0;
}

.navbar__container {
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  width: 100%;
  margin: 2.5vh 2.5vw;
  padding: 0;
}

.navbar__logo {
  background-color: var(--color-fg);
  background-image: linear-gradient(to top, var(--color-s) 0%, var(--color-fg) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  font-weight: bold;
}

#main-page-navbar-container {
  justify-content: center;
}

#main-page-logo {
  font-size: 5rem;
}

.fa_gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-left: 2rem;
}

.navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar__links {
  border-radius: 1rem;
  border: 1px solid var(--color-fg);
  color: var(--color-fg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0.5rem;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.navbar__links:hover {
  background-color: var(--color-fg);
  background-image: linear-gradient(to top, var(--color-s) 0%, var(--color-fg) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.rainbow__text {
  -webkit-transition: color 1s;
  transition: color 1s;
  margin: auto;
  width: fit-content;
}

.rainbow__text:hover {
  background-image: linear-gradient(to left, violet, #5c0c96, #6666b7, #397eaf,
  #1ac9b8, rgba(101, 255, 228, 0.58), #a6f367);
  -webkit-background-clip: text;
  color: transparent;
}

.button {
  margin: auto;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1em;
  background-color: var(--color-fg);
  color: var(--color-bg);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--color-bgl);
  color: var(--color-fg);
}

.button-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

/*IPAD*/
@media only screen and (max-device-width: 900px) {

  .icons {
    height: 2.5rem;
    margin: 1rem;
  }

  .navbar__container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar__menu {
    height: 150px;
  }

  .navbar__item {
    margin: 5%;
    height: 100px;
  }

  .navbar__links {
    font-size: 40px;
  }
}

/*IPHONE*/
@media only screen and (max-device-width: 500px) {
  .navbar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, var(--color-bg) 25%);
    height: fit-content;
    width: 100vw;
  }

  .navbar__container {
    height: 100px;
    justify-content: space-evenly;
    padding: 0 1px;
    flex-direction: column;
  }

  .navbar__logo {
    font-size: large;
  }

  .navbar__menu {
    height: 80px;
    margin-left: -0.1rem;
    padding-left: 0;
  }

  .navbar__item {
    margin: 1%;
    height: 50px;
  }

  .navbar__links {
    font-size: 20px;
    margin: 0 2px;
    padding: 0.5rem;
  }
}

.picture__container {
  position: relative;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.picture__grid {
  margin: 20vh 15%;
  display: flex;
  gap: 7%;
  list-style-type: none;
}

@media (max-width: 800px) and (min-height: 750px) {
  .picture__grid {
    margin: 5vw 15vw;
    display: flex;
    flex-direction: column;
    gap: 7vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: radial-gradient(closest-side, var(--color-bg), rgba(58, 141, 109, 0.58), var(--color-bg));
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture__container:hover .overlay {
  opacity: 1;
}

.overlay__text {
  color: var(--color-fg);
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
}

/*IPAD*/
@media only screen and (max-device-width: 900px) {

  .picture__grid {
    margin: 5% 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
  }

  .overlay {
    opacity: 1;
    background-image: radial-gradient(closest-side, var(--color-bg), rgba(58, 141, 109, 0.3), rgba(0, 0, 0, 0));
  }

  .overlay__text {
    font-size: xxx-large;
    font-weight: bolder;
  }
}

/*IPHONE*/
@media only screen and (max-device-width: 500px) {

  .picture__grid {
    margin: 3% 15%;
    display: flex;
    flex-direction: column;
  }

}


