.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60vh;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form * {
  margin: 1rem auto;
  border-radius: 1rem;
  background-color: #5e5e5e;
}

form *:not(.button) {
  border: 1px solid antiquewhite;
  padding: 0.2rem 1rem;
}

form .button {
  border: 2px solid antiquewhite;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

form textarea {
  height: 150px;
}