/* latin */
@font-face {
    font-family: 'Mountains of Christmas';
    src: url(https://fonts.gstatic.com/s/mountainsofchristmas/v13/3y9w6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7eDNGsMQ.woff2) format('woff2');
}

h1 {
    font-family: "Mountains of Christmas", fantasy;
    font-size: 100px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 110px;
}

body {
    text-align: center;
    background: radial-gradient(
            closest-corner,
            rgba(234,159,159,1) 0%,
            rgba(124,60,60,1) 50%,
            rgba(52,25,25,1) 100%
    );
}

h3 {
    font-family: "Mountains of Christmas", serif;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 16px;
}

p {
    font-family: "Mountains of Christmas";
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 20px;
}

blockquote {
    font-family: "Mountains of Christmas";
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 45px;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}