# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sonarlint/issuestore/c/5/c5861393f6d4839ddcf800cb045e0be493d1f7f6
